
.App {
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
}

.list {
    border: 1px solid gray;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.list .item {
    width: 200px;
    padding: 10px 0;
    list-style: none;
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    background-color: gainsboro;
    cursor: pointer;
    transition: ease-in-out .2s;
}

.list .item:hover, .list .item.active {
    background-color: aquamarine;
}

.difficulty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 226px;
    width: 250px;
    border: 1px solid gray;
    border-radius: 10px;
}